@import '../../../node_modules/nprogress/nprogress.css';

#nprogress {
    .bar {
        background-color: var(--color-primary);
    }
    .spinner-icon {
        border-top-color: var(--color-primary);
        border-left-color: var(--color-primary);
    }
}
