.app-page-tabs {
  --td-bg-color-secondarycontainer-hover: var(--color-gray-100);
  --td-comp-size-xxl: var(--text-4xl);

  --page-tabs-bg: var(--color-tab-bg);
  --page-tabs-bg-hover: var(--color-tab-hover);
  --page-tabs-bg-active: var(--color-tab-bg-active);
  --page-tabs-limiter: var(--color-tab-limiter);
  --page-tabs-radius: var(--radius-sm);

  background: var(--page-tabs-bg);
  height: var(--app-tabs);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-divider);

  .t-tabs__header,
  .t-tabs__nav,
  .t-tabs__nav-scroll,
  .t-tabs__nav--card,
  .t-tabs__nav-wrap {
    height: 100% !important;
  }

  .t-tabs__nav-container.t-tabs__nav--card {
    background-color: var(--page-tabs-bg);
  }

  .t-tabs__nav-wrap {
    row-gap: 2px;
    column-gap: 2px;
  }

  .t-tabs__nav--card.t-tabs__nav-item {
    height: 100% !important;
    line-height: 1 !important;
    background: var(--page-tabs-bg);
    position: relative;
    border-radius: var(--page-tabs-radius);
    border: none;

    transition-timing-function: linear;
    transition-duration: 0.1s;
    transition-property: border-color, background-color;
  }

  .t-tabs__nav--card.t-tabs__nav-item::before {
    content: '';
    background: var(--page-tabs-limiter);
    width: 1px;
    height: 50%;
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: background 0.2s linear;
  }

  .t-tabs__nav--card.t-tabs__nav-item:first-child::before,
  .t-tabs__nav--card.t-tabs__nav-item:hover::before,
  .t-tabs__nav--card.t-tabs__nav-item:hover + .t-tabs__nav--card.t-tabs__nav-item::before,
  .t-tabs__nav--card.t-tabs__nav-item.t-is-active::before,
  .t-tabs__nav--card.t-tabs__nav-item.t-is-active + .t-tabs__nav--card.t-tabs__nav-item::before {
    background: transparent;
  }

  .t-tabs__nav--card.t-tabs__nav-item:not(.t-is-disabled):not(.t-is-active):hover {
    background-color: var(--page-tabs-bg-hover);
    border: none;
  }

  .t-tabs__nav--card.t-tabs__nav-item.t-is-active {
    background-color: var(--page-tabs-bg-active);
  }

  .t-tabs__nav--card.t-tabs__nav-item.t-is-active::before {
    content: '';
  }

  .t-icon-close:hover {
    transition: 0.2s linear all;
    border-radius: 100%;
    color: var(--color-danger);
  }
}
