.nestedMenu {
  :global(.t-menu__item),
  :global(.t-submenu .t-is-opened) {
    color: var(--color-t-secondary);
  }

  :global(.t-menu__item .t-icon) {
    margin-right: 0;
  }

  :global(.t-menu__item.t-is-active) {
    background-color: transparent;
    color: var(--color-primary);
  }

  :global(.t-menu__item.t-is-active:not(.t-is-opened)) {
    background-color: var(--color-menu-active-bg);
    color: var(--color-menu-active-text);
  }

  :global(.t-menu__item.t-is-active:not(.t-is-opened) .t-icon) {
    color: var(--color-menu-active-text) !important;
  }

  :global(.t-menu__item.t-is-active .t-icon) {
    color: var(--color-primary) !important;
  }

  :global(.t-menu__item:hover:not(.t-is-active):not(.t-is-opened):not(.t-is-disabled)),
  :global(.t-menu__item:hover:not(.t-is-active):not(.t-is-disabled)) {
    color: var(--color-menu-hover-text);
    background-color: var(--color-menu-hover-bg);
  }
}
