@import 'tailwindcss';

@theme {
  --color-brand-50: #f0f7ff;
  --color-brand-100: #e0edff;
  --color-brand-200: #b9d3fa;
  --color-brand-300: #8eb0f5;
  --color-brand-400: #5e90ee;
  --color-brand-500: #2472ed;
  --color-brand-600: #1960d3;
  --color-brand-700: #134db8;
  --color-brand-800: #103e91;
  --color-brand-900: #0d3375;

  --color-primary: var(--color-brand-600);
  --color-success: oklch(0.78 0.22 150);
  --color-danger: oklch(0.64 0.22 22);
  --color-warning: oklch(0.8353 0.1603 83.86);

  --color-t-base: oklch(0.3 0.041 265);
  --color-t-secondary: oklch(0.54 0.033 268);
  --color-t-muted: oklch(0.75 0.02 270);
  --color-t-placeholder: oklch(0.85 0.023 272);
  --color-t-disabled: oklch(0.8 0.03 268);

  --color-brand-bg: oklch(0.59 0.22 264 / 0.01);

  /* 布局配置 */
  --height-header: calc(var(--spacing) * 12);
  --width-sidebar: calc(var(--spacing) * 60);

  --color-gray-line: var(--color-zinc-200);

  --color-tab-bg: var(--color-white);
  --color-tab-hover: var(--color-zinc-100);
  --color-tab-bg-active: var(--color-zinc-100);
  --color-tab-limiter: var(--color-zinc-300);

  --color-sidebar-bg: white;
  --color-menu-active-bg: var(--color-primary);
  --color-menu-active-text: var(--color-white);
  --color-menu-hover-bg: var(--color-brand-50);
  --color-menu-hover-text: var(--color-primary);
}

html,
body,
#app {
  height: 100%;
  background: var(--color-brand-bg);
  color: var(--color-t-base);
}
