@import 'tailwindcss';

@theme {
  --primary: 0 82 217;
  --success: 43 164 113;
  --danger: 213 73 65;
  --warning: 227 115 24;

  --color-primary: rgb(var(--primary));
  --color-success: rgb(var(--success));
  --color-danger: rgb(var(--danger));
  --color-warning: rgb(var(--warning));

  --color-t-base: var(--color-gray-700);
  --color-t-secondary: var(--color-gray-500);
  --color-t-muted: var(--color-gray-400);

  --app-header-size: var(--text-6xl);
  --app-sidebar-size: calc(var(--spacing) * 60);

  --app-background-color: var(--color-zinc-100);
  --app-background-color-hover: var(--color-zinc-100);

  --app-border-color: var(--color-zinc-200);
  --app-border-color-hover: var(--color-zinc-300);
}
